body html {

        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    /* background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExenM5MTRpeHBwcXh4OHRmYmE0YmE1aWc1djZsa2FneDN0cmoxM2x5ZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/YRcXl6VfNhCorklI0R/giphy.webp); */
}
img {
    max-width: 30%; /* O el porcentaje que desees */
    height: auto;
}
main {
    background-image: url(./MOSHED-2024-10-31-3-5-34.gif);   
}
main, div { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.hidden {
    display: none;
  }  

  .content {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    height: 100vh;           /* Toma el 100% de la altura de la ventana */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente si lo deseas */
  }
  
  img {
    max-width: 30%;          /* Ajuste estándar para pantallas grandes */
    height: auto;            /* Mantiene la proporción de la imagen */
  }
  
  /* Estilos específicos para móviles */
  @media (max-width: 768px) { /* Se activa para pantallas de 768px o menos */
    img {
      max-width: 80%;        /* Aumenta el tamaño máximo del gif en móviles */
    }
  
    .content {
      height: 100vh;        /* Mantén la altura para móviles */
    }
  }